---
import { Image } from "astro:assets";

const { data } = Astro.props;
let activeTab = "1";
const initialService = data.find((item) => item.id === activeTab);
---

<div
  class="flex flex-wrap gap-5"
  aria-label="Selector de servicios, click para ver mas"
>
  {
    data?.map((item) => (
      <button
        id={item.id}
        class={`service-btns overflow-hidden relative flex-1 min-w-40 h-32 rounded-lg transition-all flex items-center justify-center cursor-pointer select-none ${
          activeTab === item.id ? "shadow-2xl rounded-3xl font-semibold" : ""
        }`}
      >
        <img
          class="size-full absolute object-cover"
          src={item?.images[2]}
          alt="Background de boton"
        />
        <div class="bg-black opacity-60 size-full absolute" />
        <span class="z-40 text-white">{item.title}</span>
        <div
          class={`marker absolute size-3 rounded-full mt-4 mr-4 ${activeTab === item.id ? "bg-yellow-500" : ""} top-0 right-0`}
        />
        <div
          class={`marker-pulse absolute size-3 rounded-full mt-4 mr-4 ${activeTab === item.id ? "bg-yellow-500" : ""} animate-ping top-0 right-0`}
        />
      </button>
    ))
  }
</div>

<div id="service-content" class="mt-5">
  <!-- Aquí se cargará dinámicamente el contenido según el tab seleccionado -->
  {
    initialService && (
      <div>
        <h2 class="text-xl font-bold">{initialService?.title}</h2>
        <p class="text-gray-600">{initialService?.description}</p>
        <div class="gap-3 mt-3 grid grid-cols-2">
          {initialService?.images?.map((img) => (
            <Image
              width="250"
              height="250"
              src={img}
              alt="Imagen"
              class="size-full object-cover rounded-lg border"
            />
          ))}
        </div>
      </div>
    )
  }
</div>

<script define:vars={{ data }}>
  const buttons = document.querySelectorAll(".service-btns");
  const container = document.querySelector("#service-content");
  const markers = document.querySelectorAll(".marker");
  const markersPulse = document.querySelectorAll(".marker-pulse");
  buttons.forEach((button) => {
    button.addEventListener("click", () => {
      buttons.forEach((btn, index) => {
        btn.classList.toggle("shadow-xl", btn.id === button.id);
        btn.classList.toggle("rounded-3xl", btn.id === button.id);
        btn.classList.toggle("font-semibold", btn.id === button.id);
        markers[index].classList.toggle("bg-yellow-500", btn.id === button.id);
        markersPulse[index].classList.toggle(
          "animated-ping",
          btn.id === button.id,
        );
        markersPulse[index].classList.toggle(
          "bg-yellow-500",
          btn.id === button.id,
        );
      });
      const selectedElement = data.find((item) => item.id === button.id);
      if (!selectedElement) return;
      container.innerHTML = `
        <h2 class="text-xl font-bold">${selectedElement?.title || ""}</h2>
        <p class="text-gray-600">${selectedElement?.description || ""}</p>
        <div class="gap-3 mt-3 grid grid-cols-2">
          ${selectedElement.images
            .map(
              (img) =>
                `<img src="${img}" alt="Imagen" class="size-full object-cover rounded-lg border" />`,
            )
            .join("")}
        </div>
      `;
    });
  });
</script>
